@model MySurveys.Web.ViewModels.Account.ProfileViewModel
@{
    ViewBag.Title = "Manage you account";
}

<div class="text-center">
    <h2>Change your account settings.</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-offset-3">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd>@Model.UserName</dd>
            <dt>Date of registration</dt>
            <dd>@Model.CreateOn.ToLongDateString()</dd>
            <dt>Email</dt>
            <dd>
                @Model.Email
                [@Html.ActionLink("Change your email", "ChangeEmail")]
            </dd>
            <dt>Password:</dt>
            <dd>
                @string.Join("", new String('*', Model.Email.Length + 2))
                [@Html.ActionLink("Change your password", "ChangePassword")]
            </dd>
        </dl>
    </div>
</div>
