@using MySurveys.Web.Areas.Surveys.ViewModels
@model QuestionViewModel
@{
    ViewBag.Title = "FillingUp";
}

<div class="row">
    <div class="text-center">
       <h2>@Model.SurveyTitle</h2>
        <h5>Questions</h5>
    </div>
    @using (Ajax.BeginForm("FillingUp", null,
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace
                                        }, new { id = "fillingUpForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id, new { @Value = Model.Id })

        <div class="jumbotron col-md-offset-3 col-lg-6">
            <div>
                <h4><u>@Html.DisplayFor(m => m.Content)</u></h4>
            </div>
            <hr />
            <div>
                @foreach (var item in Model.PossibleAnswers)
                {
                    <div>
                        @Html.RadioButtonFor(m => item.Id, item.Id, new { id = item.Id})
                        <label for="@item.Id">@item.Content</label>
                    </div>
                }
                @*@Html.ValidationMessageFor(m => m.)*@
            </div>
            <br />
            <input type="submit" value="Next" />
        </div>
    }
</div>
