@using MySurveys.Web.Areas.Surveys.ViewModels
@model QuestionViewModel
@{
    ViewBag.Title = "FillingUp";
}

<div class="row">
    <div class="text-center">
        <h2>Filling up the survey</h2>
    </div>

    @using (Ajax.BeginForm("FillingUp", null,
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "survey",
                                }, new { id = "fillingUpForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.Id, new { @Value = Model.Id})
        
        <div class="col-md-offset-5">
            @Html.DisplayFor(m => m.Content)
            @foreach (var item in Model.PossibleAnswers)
                {
                <div>
                    @Html.RadioButtonFor(m => item.Id, item.Id)
                    <label for="@item.Id">@item.Content</label>
                </div>
            }
            @*@Html.ValidationMessageFor(m => m.)*@

            <br />
            <input type="submit" value="Next" />
        </div>
    }
</div>
