@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/kendo/css")
    @RenderSection("styles", required: false)
}

@RenderBody()

@section disclaimer{
    <div><strong>Disclaimer: </strong>This web site is designed for educational purposes and using the <a href="http://demos.telerik.com/kendo-ui/"> trial version </a>of Kendo UI for ASP.NET MVC</div>
}

@section scripts{
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
}