@using MySurveys.Common
@if (User.IsInRole(GlobalConstants.AdminRoleName))
{
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @GlobalConstants.AdminRoleName <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Edit/Delete Users", "Index", "Users", new { area = "Administration" }, null)</li>
            <li>@Html.ActionLink("Edit/Delete Surveys", "Index", "Surveys", new { area = "Administration" }, null)</li>
            <li>@Html.ActionLink("Edit/Delete Responses", "Index", "Responses", new { area = "Administration" }, null)</li>
            <li>@Html.ActionLink("Edit/Delete Questions", "Index", "Questions", new { area = "Administration" }, null)</li>
            <li>@Html.ActionLink("Edit/Delete PossibleAnswers", "Index", "PossibleAnswers", new { area = "Administration" }, null)</li>
        </ul>
    </li>
}
