<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My surveys</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My surveys", "Index", "Home", new { area = String.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu">
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Surveys", "Index", "Public", new { area = "Surveys" }, null)</li>
                    }
                    @Html.Partial("_LoggedInUsersNavPartial")
                    @Html.Partial("_AdminNavPartial")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (TempData["fin"] != null)
    {
        <div id="alert" class="alert alert-success text-center" role="alert"><h3>@TempData["fin"]</h3></div>
    }
    <div class="container body-content">
        @RenderBody()
        <div id="modal-container" class="modal fade"
             tabindex="-1" role="dialog">
            <div class="modal-content">
            </div>
        </div>
        <hr />
        <footer class="text-center">
            @RenderSection("disclaimer", required: false)
            <p>&copy; @DateTime.Now.Year - <a href="https://github.com/danisio/MVC-Project">My Surveys - GitHub</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

    @* tempdata message *@
    <script>
        $("#alert").fadeOut(3000);
    </script>
</body>
</html>
