@model Dictionary<int, MySurveys.Web.Areas.Surveys.ViewModels.SurveyViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Key</td>
        <td>@item.Value.Title</td>
        <td>@item.Value.AuthorUsername</td>
        <td>@item.Value.Questions.Count</td>
        <td>@item.Value.Responses.Count</td>
        <td>
            <a href="@Url.Action("FillingUp", "Surveys", new { id = item.Value.Url.Substring(item.Value.Url.LastIndexOf('/')), area = "Surveys" })" class="btn btn-lg btn-primary btn-block">
                <i class="glyphicon glyphicon-pencil">Start</i>
                <span class="sr-only">Start</span>
            </a>
        </td>
    </tr>
}
