@using MySurveys.Web.Areas.Surveys.ViewModels.Filling
@{
    ViewBag.Title = "Most popular surveys";
}

<div class="row">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
    </div>
    <table id="survey-list" class="table table-striped table-condensed table-responsive table-hover table-bordered infinite-scroll">
        <thead class="text-center">
            <tr>
                <th class="col-xs-1">№</th>
                <th class="col-xs-3">Title</th>
                <th class="col-xs-3">Author</th>
                <th class="col-xs-1">Total Questions</th>
                <th class="col-xs-1">Total Participants</th>
                <th class="col-xs-1">Public</th>
                <th class="col-xs-2">Options</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_SurveysPartial", (ViewBag.Surveys as Dictionary<int, SurveyViewModel>))
        </tbody>
    </table>
</div>
@Html.Partial("_Loading")
@Scripts.Render("~/bundles/infinityScroll")
<script>
    $(function () {
        $("div#loading").hide();
    });
    var moreRowsUrl = '@Url.RouteUrl("Surveys_Scroll")';
    $(window).scroll(scrollHandler);
</script>